@charset "UTF-8";
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  margin-right: auto;
}

dd {
  font-size: 16px;
}

/* Para que las descripciones de cada uno de los productos del bar se vean con una letra más chica*/
a:hover {
  color: aquamarine;
  background-color: antiquewhite;
}

body {
  font-family: "Sofia", sans-serif;
  background-image: url("../img/fondo1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.google-mapa {
  align-content: center;
  font-size: larger;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.nav-menu {
  background-color: #045d1d;
  color: #fff;
  padding: 10px;
  justify-content: space-between;
}

.nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* para  */
.nav-menu li {
  display: inline-block;
  margin-right: 10px;
}

/* para los items de las listas */
.nav-menu img {
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

/* Estilo de las imágenes usadas en el .nav-menú */
.nav-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 40em;
  }  
}
#top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Estilo dado a los elementos del top-menu, como características principales de c/u */
#top-menu a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
}

/* estilo dado a los elementos "a" en top-menu, para cuando se pasa el mouse por cada solapa*/
#top-menu a:hover {
  color: rgb(4, 80, 4);
  background-color: rgb(226, 222, 222);
  padding: 10px;
  border-radius: 5px;
}

/* Este "hover" hace que cuando pases el cursor por cada solapa en el menú se coloree del verde seleccionado */
.parrafos {
  color: rgb(231, 9, 57);
}

/* Estilo que le da color a los párrafos */
.h1-trabajo {
  color: rgb(70, 156, 70);
  align-content: center;
}

.h3-trabajo {
  color: beige;
  align-content: center;
}

legend {
  font-size: larger;
}

.CabeceraUno {
  align-content: center;
  font-size: larger;
}

.footer-index {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-index p {
  text-align: center;
  text-decoration-color: azure;
}

.footer-seccion {
  flex: 1;
  margin-right: 20px;
}

.titulo-seccion {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.contacto-info,
.ubicacion {
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

#contacto-email {
  font-weight: bold;
}

#horas-lista {
  list-style: none;
  padding: 0;
  text-align: center;
  color: white;
}

#horas-lista li {
  margin-bottom: 5px;
}

#footer-medio {
  text-align: center;
}

#footer-derecha {
  text-align: right;
}

#footer-izquierda {
  text-align: left;
}

.imagenes-index {
  display: flex;
  flex-wrap: nowrap;
}

.imagenes-index img {
  width: 100%;
  height: auto;
}

.menu-categoria {
  font-weight: bold;
  margin-bottom: 10px;
}

.menu-descripcion {
  font-size: 14px;
  color: green;
}

.listas-menu {
  color: aqua;
  padding: 0;
  margin: 0;
}

.listas-menu dt {
  margin-bottom: 10px;
}

.listas-menu dd {
  margin-left: 10px;
}

.estilo-nuevo {
  padding: 0;
  margin: 0;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  display: inline-block;
}

.form-trabajo {
  margin-bottom: 10px;
}

.google-mapa div {
  margin-top: 20px;
}

.google-mapa label,
.google-mapa input,
.google-mapa textarea {
  display: block;
  margin-bottom: 10px;
}

.contenido label,
.contenido input,
.contenido textarea {
  display: block;
  margin-bottom: 10px;
  align-content: center;
}

.contenido input [type=submit],
.contenido input[type=reset] {
  margin-top: 10px;
}

.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.header {
  text-align: center;
  font-size: larger;
}

@media (max-width: 767px) {
  #CabeceraUno {
    font-size: medium;
  }
  .header {
    font-size: small;
  }
  .imagenes-index img {
    width: 100%;
    height: auto;
  }
  .google-mapa iframe {
    width: 100%;
    height: 300px;
  }
  .invisible-para-celu {
    display: none;
  }
}
.container {
  margin-bottom: 20px;
  background: rgb(144, 143, 143);
  color: #fff;
  align-content: center;
}

.container div {
  background: #414542;
  padding: 15px;
  border: 1px solid rgb(50, 120, 195);
}

.container dt {
  font-size: larger;
  font-family: "Kitten", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
