$primary-color:#045d1d;
$secondary-color:aquamarine;
$third-color:rgb(231, 9, 57);
$fourth-color:rgb(70, 156, 70);
$fifth-color:#fff;

$font-large: larger;    // Large font size
$font-medium: medium;    // Medium font size
$font-small: small;    // Small font size